body, html
{
	height: 100%;
	width: auto;
}

.top_bar
{
	background: #002849;
	padding-top: 5px;
	padding-bottom: 5px;
}

.social_icons
{
	margin-right: 5px;
	
}

.contact-info
{
	font-size: 14px;
}

.contact-info a
{
	color: #fff;
	font-size: 14px;
}

.logo-set
{
	height: 100px;
}

.pull_right
{
	float: left;

}

.my_menu
{
	margin-top: 27px;
}

.my_menu .navbar-default
{
	background: none;
	border: none; 

} 

.icon-bar
{
	background: #000;

}


.my_menu .navbar-nav .active a, .my_menu . navbar-nav .active a:hover
{
	background: #666;
	color: #fff; 
}

.my_menu .navbar-nav li a:hover
{
	background:  #002849;
	color: #fff; 
}
.pull_right li a
{
	color: #777;
	font-size: 14px;
}

.style-button
{
	float: right;
}

.style_text
{
	text-align: center;
	color: #777;
}

img .lang-img:hover
{
	opacity: 1;
}

.text-block
{
	  position: fixed;
	  
	  right: 300px;
	  top: 160px;
	  width:50%;
	  background-color: rgba(0,0,0,0.5);
	  color: white;
	  padding-left: 20px;
	  padding-right: 20px;
}
.text-block {
    margin-right: 350px;
    position: absolute;
    right: 300px;
    top: 282px;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.textbox a
{
	color: #fff; 
}

.content
{
	margin-top: 20px;
}

.languages
{
	margin-top: 40px;
	margin-left: 50px;
}

.img-settings
{
	margin-left: 10%;
}

.text-area
{
	text-align: center;
	margin-top: 20px;
}

.btn-define
{
	margin-top: 20px;
	text-align: center;
}

button { 
	 margin: 0 auto;
	 display: inline-block; 
	 width: 250px;
	 
	 border: none;
	 padding: 10px 5px;
	 color: aliceblue; 
	 background-color: #aaa; 
	 font-size: 10px;
	}

.our-team-set
{
	margin-left: 0%;
	margin-top: 50px;
	width: 	100%;
	height: auto;
}

.bg-style
{
	margin-top: 10px;
	text-align: center;
	background-color: #eee;
}

.txt-style h4
{
	margin-top: 20px;
	text-align: center;
	color: #222;
}

.blog {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
	background-color: #eee;
	width: 60%;
	color: #777;
}

.blog-content
{
	margin-top: 20px;
}

.btn-more
{
	width: 50px;
	font-size: 10px;
	margin-top: 10px;
	background: #000;
	color: #fff;
}

.our_clients
{
	margin-top: 50px;
	margin-left: 20%;
	width: 60%;
}

.client
{
	margin-left: 0px;
	width: 130px;
	height: 100px;
}

.icon-btn
{
	width: 80px;
	color: #fff;
	background: #000;
	font-size: 10px;
	margin-top: 25px;
}

.footer-set
{
	background-color: #000000;
}

.head-style
{
	color: #fff;
	/*text-align: center;*/
	font-family: "futura-bold";
}


.foot-icon
{
	color: #fff;
}

.foot-list h6 
{
	color: #fff; 
	margin-left: 10px;
	/*text-align: center;*/
}

.foot-list h6 a
{
	text-decoration: none;
	color: #ccc; 
}

.foot-list ul li a:hover, 
{
	text-decoration: underline;
	color: yellow;
}

	#btn-setting
	{
		color: #aaa;
		border-radius: 20px; 
		background: #002849;
	}

@media (max-width: 1200px){
	.content .image .my_menu .pull-right{float:none !important;}
} 



.form-left
{
	margin-top: 0px;
	text-align: left;
}

.form-left
{
}
.p{
	margin-left: :40%;
}
.cds{
	margin-left: 20px;
	margin-right: 30px;
	/*background-color: #ddd;*/
}
.ds{

	height: 70px;
	background-color: #eee;
	padding :5px;
	border: 7px solid #fff;
	margin-right:20px 
}
#sub_content_in p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
p {
    margin-bottom: 25px;
}
main {
    background-color: #f8f8f8;
}
	#position {
    background-color: #002849;
    padding: 10px 0;
    font-size: 13px;

}
#position ul li a {
    color: #fff;
    opacity: 0.7;

}

#position ul li:first-child {
    padding-left: 20px;

}
#position ul li {
    display: inline-block;
    padding-right: 8px;
    margin-right: 3px;
    position: relative;
    
}
.margin_60_35 {
    padding-top: 60px;
    padding-bottom: 35px;
}
.navbar-default .navbar-nav li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
    padding: 37px 15px 10px 15px;
    font-weight: 700;
}
@media (max-width: 1200px){
	.content .image .my_menu .pull-right{float:none !important;}
} 


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.overlay {
    position: relative;
}

 .rdk {
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #5c5c77;
}
.col-lg-4{

}
.yyy{
	text-align: center;
	margin-top: 25px;
}
hr.new9 {
  border: 2px solid green;
 margin-top: -32px;
 margin-left: 130px;
 margin-right: 130px;
   }
/*
hr.new5 {
  border: 1px solid green;
 
  margin-left: 560px;
  margin-right: 560px;
  margin-top: 0px; 

}*/
.abc{ margin-left:350px; }

h1 {
	margin-left: 0%; 
}

#vvv { font-style: normal;
 font-weight: bolder;
 margin-left: -567px;
	color: #222;}
	#kkkk {font-style: normal;
 font-weight: bolder;
 
	color: #222;}


	#qualify{ font-style: normal;
		font-size: 11px;
		margin-top: -16px;
		font-weight: lighter;

	}
	#exp{
		font-size: 14px;
		margin-top: -10px;
	}
.calendar{ 
	margin-top: 30px;
	font-size: 160%;
	margin-left: 10px;
	text-align: center;
}
.topmrg{ margin-top: 50px;



 }
 #nnn{ letter-spacing: 20px;
 	margin-left: 10px;

 }
 .vl {
  border-left: 2px solid gray;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 10;
}
#wlcm{ color: #000;
	font-weight: bold;
	font-family:"futura-bold";
	margin-top: 60px;

}


.nav-clr
{
	height: 100px;
	background-color:#000;
	font-family:"futura-bold";
	 }
	 #mobile ul{

	 	margin-right:100px;
	 }

#mobile ul li a
{ 
	color: white;
	font-weight: bold;
	 font-family: "futura-bold";
	font-size: 21px;
	/*margin-left: 40px;*/
	/*padding: 10px;*/
}
#mobile ul li a:hover { 
  background-color: #002849;
}
.standard-text__heading--center {
    text-align: center;
}
.color-white {
    color: #fff;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6em;
    color: #656565;
    font-size: 1.4em;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.card.has-top-icon {
    position: relative;
    border: 0;
}
.card.is-grey {
    background: #eaedf1;
}
.lineh-24 p {
    line-height: 24px;
}
.has-next-text-centered > p {
    text-align: center !important;
}
.has-mt-1 {
    margin-top: 1rem;
    /*background-color: red;*/
}
.has-text-centered {
    text-align: center !important;
}
.button.is-primary.is-inverted {
    background-color: #000;

    }
   .top-icon {
    position: absolute;
    top: 15%;
    left: 0;
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
}
.button.is-primary.is-inverted {
    background-color: #161b33;
    color: #fff;
    height: 40px;
    width: 100px;
}
.titleh{
   /* color: #1e1e4b;*/
    font-family: "futura-bold";
   /* font-weight: 700;
    line-height: 1.2;*/
    font-weight: bold;
    color: #000;
    
}
.titleg{
	font-family: "futura-bold";
	text-align: right;
	margin-top: 7px;
}
.titleg a{
	color:#fff;
}
.navbar-toggler{
    display: inline-block;
    width: 50px;
    z-index: 99;
}
 @media screen and (max-width: 720px) {
 #header_txt {
      display: none;
    }
    
    #brand_name {
    	display: block !important;
    }
    #logo_img {
    	display: none !important;
    }
}
  